
/* Responsive design. Add sidebar when using smaller screen. */

/* Side bar animations */
@keyframes slide_in
{
	0%   {left: -250px;}
	100% {left: 0px;}
}

@keyframes slide_out
{
	0%   {left: 0px;}
	100% {left: -250px;}
}

@keyframes highlight_tab
{
	0%   {background-color: #cccccc;}
	100% {background-color: #d9d9d9;}
}

@media screen and (max-width: 800px)
{
	.PCLayout
	{
		display: none;
	}
	
	#sidebarDiv
	{
		position: fixed;
		left: -250px;
		top: 0;
		background-color: #cccccc;
		width: 250px;
		height: 100%;
		
		overflow-x: hidden;
		overflow-y: scroll;
		
		/* Hide sidebar scrollbar in Firefox */
		scrollbar-width: none;
		
		/* Hide sidebar scrollbar in Edge */
		-ms-overflow-style: none;
	}
	
	/* Hide scrollbar in webkit browsers (Chrome, Safari, Opera) 
	   w3schools.com/howto/howto_css_hide_scrollbars.asp */
	#sidebarDiv::-webkit-scrollbar 
	{
		display: none;
	}
	
	#hamburger
	{
		display: block;
		width: 50px;
		cursor: pointer;
	}
	
	#hamburgerSpan
	{
		display: inline-block;
	}
	
	#hamburgerSpan:hover
	{
		background-color: #d9d9d9;
	}
	
	.sidebarTab
	{
		/* Aligns sidebar tabs to the left of the screen. */
		margin-left: -8px;
		padding-left: 6px;
		
		width: 250px;
		
		display: inline-block;
		background-color: #cccccc;
	}
	
	.sidebarTab:hover
	{
		background-color: #d9d9d9;
		cursor: pointer;
		
		animation-name: highlight_tab;
		animation-duration: 0.2s;
		animation-timing-function: ease-out;
	}
	
	.sidebarLabel
	{
		width: 165px;
		display: inline-block;
	}
	
	.sidebarIcon
	{
		width: 60px;
		float: left;
		margin-top: 12px;
		margin-right: 10px;
	}
	
	#sidebarX
	{
		width: 50px;
		display: block;
		cursor: pointer;
	}
	
	/* Allows the sidebar's exit button to remain always accessible,
	   no matter the scroll. */
	#sidebarXDiv
	{
		background-color: #cccccc;
		position: sticky;
		top: 0;
	}
	
	#sidebarXSpan
	{
		display: inline-block;
		margin: 8px;
	}
	
	#sidebarXSpan:hover
	{
		background-color: #d9d9d9;
		
		animation-name: highlight_tab;
		animation-duration: 0.2s;
		animation-timing-function: ease-out;
	}
	
	#tabSpan
	{
		display: inline-block;
		margin: 8px;
		margin-top: 0px;
	}
}

/* Regular layout for larger screens. */
@media screen and (min-width: 801px)
{
	.mobileLayout
	{
		display: none;
	}
	
	.sidebar
	{
		display: none;
	}

	#headImg
	{
		display: block;
		margin: auto;
		width: 150px;
	}
	
	#navDiv
	{
		display: flex;
		flex-direction: row;
		wrap-flex: no-wrap;
		justify-content: center;
	}
	
	.navSignDiv
	{
		/* Allows assets to be aligned to the signs. */
		position: relative;
	}
	
	.navSign
	{
		width: 200px;
		margin-top: -7px;
	}
	
	.navLabel
	{
		width: 115px;
		display: inline;
		
		/* Align the asset to the sign. */
		position: absolute;
		top: 20px;
		left: 62px;
	}
	
	.navIcon
	{
		width: 50px;
		display: inline;
		
		/* Align the asset to the sign. */
		position: absolute;
		top: 25px;
		left: 15px;
	}
}

/* General styling */
body
{
	background-color: #eeeeee;
}


#topRule
{
	height: 20px;
	display: block;
	background-image: url("assets/hrule.png");
}

#defaultMessage
{
	text-align: center;
}
