
/* Mobile layout. */
@media screen and (max-width: 800px)
{
	.courseIcon
	{
		margin: auto;
		margin-bottom: 20px;
		width: 50%;
	}
}

/* PC layout. */
@media screen and (min-width: 801px)
{
	/* Padding breaks table on mobile, so get rid of it. */
	td
	{
		padding-right: 20px;
	}
	
	.courseIcon
	{
		float: left;
		margin-right: 20px;
		
		width: 200px; 
		height: 200px;
	}
}

table
{
	margin: auto;
}

thead th
{
	padding-bottom: 10px;
}

td
{
	padding-bottom: 10px;
	text-align: center;
}

/* Inline-block prevents project headers from being misaligned. */
.courseDiv
{
	display: inline-block;
	margin-bottom: 40px;
}

.courseIcon
{
	display: block;
	max-width: 200px;
	
	border: 0; 
}

.courseBlurb
{
	line-height: 1.5;
}

.altCourseName
{
	font-style: italic;
	font-size: 0.75em;
}
