
/* Mobile layout. */
@media screen and (max-width: 800px)
{	
	.projectImg
	{
		margin: auto;
		width: 80%;
	}
	
	/* Prevents titles from scrolling off the page on mobile. */
	.bigProjectTitle
	{
		font-size: 1em;
	}
}

/* PC layout. */
@media screen and (min-width: 801px)
{
	.projectImg
	{
		width: 312px;
		float: left;
		margin-right: 20px;
	}
}


/* Inline-block prevents project headers from being misaligned. */
.projectDiv
{
	display: inline-block;
}

.projectImg
{
	display: block;
}

.projectBlurb
{
	line-height: 1.5;
}

.projectLinks
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	margin-top: 20px;
	margin-bottom: 20px;
}

.miniProjectDiv
{
	border: 1px dashed grey;
	padding: 10px;
}
