
/* Mobile layout. */
@media screen and (max-width: 800px)
{
	.projectImg
	{
		display: block;
		margin: auto;
		width: 80%;
	}
}

/* PC layout. */
@media screen and (min-width: 801px)
{
	.projectImg
	{
		float: left;
		margin-right: 20px;
	}
}


.projectLinks
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	margin-top: 20px;
}